<!-- app/views/index.html -->
{% extends "layouts/layout.html" %}

{% set pageName = 'Proposed standards' %}
{% set pageDescription = 'Standards that are being proposed or awaiting to be reviewed by the DfE standards forum.' %}
{% set selectedNav = 'Proposed standards' %}
{% set pagePath = '/proposed' %}

{% block hero %}
    <section class="dfe-page-header dfe-page-header--with-sub-nav">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-top-5">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section class="govuk-!-margin-bottom-0">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-l">Standards awaiting review</h2>

                    <p class="govuk-body">The following standards are awaiting review by the DfE standards forum. You can preview the draft version of these standards.</p>

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Standard</th>
                            <th scope="col" class="govuk-table__header">Description</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Owners</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for standard in proposedStandards %}
                       
                            {% if standard.stage.title === 'Approval' %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/proposed/standard/{{standard.documentId}}" class="govuk-link">{{standard.title}}</a></th>
                            <td class="govuk-table__cell">{{standard.summary}}</td>
                            <td class="govuk-table__cell"><ul class="govuk-list">{% for owner in standard.owners %}<li>{{owner.firstName}} {{owner.lastName}}</li>{% endfor %}</ul></td>
                        </tr>
                        {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>

 <h2 class="govuk-heading-l">Proposed standards</h2>

                    <p class="govuk-body">The following standards are being proposed and drafted. You cannot view these standards at this time.</p>

    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Standard</th>
                            <th scope="col" class="govuk-table__header">Description</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Owners</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for standard in proposedStandards %}
                       
                            {% if standard.stage.title === 'Draft' %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">{{standard.title}}</th>
                            <td class="govuk-table__cell">{{standard.summary}}</td>
                            <td class="govuk-table__cell"><ul class="govuk-list">{% for owner in standard.owners %}<li>{{owner.firstName}} {{owner.lastName}}</li>{% endfor %}</ul></td>
                        </tr>
                        {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
                 
                </div>
                <div class="govuk-grid-column-one-quarter"></div>
            </div>
        </div>
    </section>

{% endblock %}