{% set guidance = [
  {
    title: "What standards are",
    url: "/what-standards-are"
  },{
    title: "Lifecycle of a standard",
    url: "/guidance/lifecycle"
  }
] %}


<nav class="dfe-vertical-nav">

  {%- if selectedNav === "What standards are" %}

    <ul class="dfe-vertical-nav__section">
      {% for item in guidance %}
        <li class="dfe-vertical-nav__section-item {% if item.title === pageName  or setSelectedSideNav === item.title %}dfe-vertical-nav__section-item--current{% endif %}">
          <a class="dfe-vertical-nav__link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

</nav>