<!-- app/views/index.html -->
{% extends "layouts/layout.html" %}
{% set selectedNav = "Home" %}
{% set pagePath = "" %}
{% set pageName = serviceName%}
{% set pageDescription = "Digital, data and technology standards to support good service delivery in the Department for Education." %}

{% block hero %}
    <section class="dfe-page-hero">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{ pageName }}</h1>
                    <p class="govuk-body-l">{{ pageDescription }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section class="govuk-!-margin-bottom-0">
        <div class="govuk-width-container">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                      <div class="dfe-grid-container">

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Find a standard</a>
                                </h3>
                                <p>Find and use standards that apply when working in DDT in DfE.</p>
                            </div>
                        </div>
                         <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/standards/export" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Export standards</a>
                                </h3>
                                <p>Export all standards and summary information in Excel format.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="{{createURL}}/guidance" class="govuk-link govuk-link--no-visited-state dfe-card-link--header" target="_blank/guidance">Create a standard</a>
                                </h3>
                                <p>Create and manage DDT standards in DfE.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color:#ffffff;" class="govuk-!-padding-top-5 govuk-!-padding-bottom-5 govuk-!-margin-top-0">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">

                            <div class="dfe-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                                <div class="dfe-banner__content-container">
                                    <div class="dfe-banner__inner-content-container">
                                        <h2 class="govuk-heading-m">How to apply <br>the GOV.UK Service Standard</h2>
                                        <p>This service helps teams in DfE follow standards to build accessible, usable, safe, secure, and trusted
                services.</p>   <p class="govuk-body">
                                        <a href="https://apply-the-service-standard.education.gov.uk" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Visit the service</a>
                                   </p>  </div>
                                </div>
                                <div class="dfe-banner__image-container">
                                    <figure class="dfe-a-image dfe-a-image--cover">
                                        <picture class="dfe-a-image__picture">
                                            <source srcset="/assets/images/assidfe.webp" type="image/webp">
                                            <img src="/assets/images/assidfe.png" alt="">
                                        </picture>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 
{% endblock %}